@import "colors";

.btn {
    display: inline-block;
    outline: 0;
    border-radius: 10px;
    transition: color 200ms;
    border: none;

    &.primary {
        background-color: $btn-primary;
        color: white;
        box-shadow: $btn-primary-shadow;

        &:hover {
            background-color: $btn-primary-hover;
        }
    }

    &.md {
        font-size: 1rem;
        padding: .5rem;
    }
}