.page {
    min-height: 100vh;
    width: 100%;
    background-color: #fcfcfc;
}

.sticky-header {
    top: 0;
    position: sticky;
    z-index: 99999;
}

.page-center {
    min-height: 100vh;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.mb-1 {
    margin-bottom: 1rem;
}