.navbar {
    height: 3.5rem;
}

.navbar-icon, .navbar-link {
    display: inline-block;
    height: 100%;
}

.navbar-brand {
    height: 100%;
    margin: 0px auto;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
    padding: .75rem 0px;
    text-decoration: none;
    display: block;
}

.navbar-links {
    display: none;
}

.navbar-icons {
    display: none;
}

.navbar-toggle {
    height: 100%;
    width: fit-content;
    font-size: 1.5rem;
    float: left;
    padding: .75rem;
    display: block;
}

.navbar-color-bar {
    height: 5px;
    width: 100%;
    display: block;    
}

.navbar a {
    transition: transform 100ms;
}

.navbar a:hover {
    transform: scale(1.5);
}

/* Full width */
@media only screen and (min-width: 850px) {
    .navbar {
        display: flex;
    }
    .navbar-brand {
        margin: 0;
    }
    .navbar-links, .navbar-icons {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }
    .navbar-color-bar {
        display: block;
        width: 100%;
        position: absolute;
    }
    .navbar-links li, .navbar-icons li {
        display: inline-block;
        font-size: 1rem;
        opacity: 0.8;
        height: 100%;
        padding: 1.1rem;
    }
    .navbar-icons li {
        font-size: 1.2rem;
        padding: 1.15rem 1.1rem;
    }
    .navbar-toggle {
        display: none;
    }
}

/*Color light*/

.navbar.light {
    background-color: #ffffff; 
    box-shadow: 0px 4px 6px rgba(9, 50, 200, 0.2);
}

.navbar.light .navbar-brand, .navbar.light .navbar-toggle {
    color: #444444;
}

.navbar.light .navbar-color-bar {
    background-color: #1e2b6f;     
}

.navbar.light a{
    color: rgb(0, 0, 238);
}

/*Color dark*/

.navbar.dark{
    background-color: #666666;
}

.navbar.dark .navbar-brand {
    color: white;
}

.navbar.dark .navbar-color-bar {
    background-color: #444444;     
}

.navbar.dark a{
    color: #bebebe;
}