.footer-size {
    width: 100% !important;
}

.btn-size {
    width: 40px !important;
    height: 40px !important;
}

.highlight {
    color: white;
    font-weight: 600px;
}

.c-banner {
    max-height: 110vh;
    width: 100%;
    background-size: cover;
    background-image: url('../../images/wrapper.png');
}

.c-banner > p, strong, b {
    color: white;
}

.icon {
    font-size: 2.5em !important;
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.5);
}

.social-bar {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.social-bar > ul {
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.social-bar > p {
    display: block;
    width: 100%;
}

* {
    box-sizing: border-box;
}